.nav {

    /* border: 2px solid green; */

    padding: 20px;

    display: flex;

    justify-content: space-around;

    background-color: rgb(100, 104, 222);


}

.active {
 
    border: 2px solid rgb(3, 90, 42);

    padding: 5px;

    text-decoration: none;

    border-radius: 20px;

    color: black;

    transform: scale(1.2);

    transition: 1s;

}


.default {
 

    border: 2px solid rgb(0, 255, 115);

    padding: 5px;

    text-decoration: none;

    border-radius: 20px;

    color: black;


}