.user {

    /* border: 2px solid rgb(0, 74, 63); */

    margin-bottom: 20px;

}

.user-detail {

    /* border: 2px solid aqua; */

    display: flex;

    width: 25%;

    padding-top: 20px;

    padding-bottom: 20px;

   
}

.user-detail > img {

    width: 40%;
}

.user-detail > div {
  

    /* border: 2px solid; */

    display: flex;

    flex-direction: column;

    font-size: larger;

    justify-content: center;

    margin-left: 20px;




}


.slider {
    
    
    accent-color: blue;

}

.prof-level {

    /* border: 2px solid green; */

    display: flex;

    font-size: 23px;

    margin-top: 10px;

    display: flex;
}


.prof-level > span {

   margin-right: 200px;

}